/* Colors */

/* Primary */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 1rem;
  max-width: 1000px;
  color: var(--grey500);
}

.page-title {
  font-weight: lighter;
}

.bold-title {
  font-weight: bold;
}

.page-title,
.page-desc {
  text-align: center;
}

.grid-container {
  display: grid;
  justify-content: center;
}

.card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  border-top-style: solid;
  border-top-width: 5px;
  max-width: 350px;
  margin: 20px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.card img {
  align-self: end;
  margin: 2rem;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 0;
}
.cyan {
  border-top-color: var(--cyan);
}

.red {
  border-top-color: var(--red);
}

.orange {
  border-top-color: var(--orange);
}

.blue {
  border-top-color: var(--blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
