/* Colors */

/* Primary */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 1rem;
  color: var(--grey500);
}

.container {
  margin: auto;
  max-width: 1000px;
}

.hero-section {
  max-width: 500px;
  margin: auto;
}
.page-title {
  font-weight: lighter;
}

.bold-title {
  font-weight: bold;
}

.page-title,
.page-desc {
  text-align: center;
}
.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: var(--white);
  padding: 2rem 1rem;
  border-radius: 8px;
  border-top-style: solid;
  border-top-width: 5px;
  max-width: 350px;
  margin: 20px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.card img {
  align-self: end;
  margin: 2rem;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 0;
}
.cyan {
  border-top-color: var(--cyan);
}

.red {
  border-top-color: var(--red);
}

.orange {
  border-top-color: var(--orange);
}

.blue {
  border-top-color: var(--blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1280px) {
  .grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .cyan {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .red {
    grid-column: 2;
    grid-row: 1;
  }

  .orange {
    grid-column: 2;
    grid-row: 2;
  }

  .blue {
    grid-column: 3;
    grid-row: 1 / 3;
  }
}
